:root {
  --background: #121721;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.4s ease, background-color 0.4s ease;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  body span {
    color: var(--foreground);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--foreground);
    color: var(--background);
  }

  body span {
    color: var(--background);
  }
}

body.dark {
  background-color: var(--background);
  color: var(--foreground);
}

body.light {
  background-color: var(--foreground);
  color: var(--background);
}

body.dark span {
  color: var(--foreground);
}

body.light span {
  color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
